.label-export {
  font-size: 0.8em;
}

.label-export:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.newtag-form {
  max-width: 400px;
  margin-bottom: 50px;
  /* padding: 20px; */
  /* background-color: lightblue; */
}

.form-error {
  color: #e85600 !important;
}
